In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [12]:
# Preview data frame
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [34]:
# Display the total number of players
number_of_players=purchase_data["SN"].nunique()
DF_number_of_players=pd.DataFrame(data={'Number of Players':[number_of_players]})
DF_number_of_players

   Number of Players
0                576

## Purchasing Analysis (Total)
 - - -
* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [32]:
unique_items=purchase_data["Item ID"].nunique()
average_price='$'+str(round(purchase_data["Price"].mean(),2))
total_revenue='$'+str(round(purchase_data["Price"].sum(),2))
number_of_purchases=purchase_data["Purchase ID"].count()
d = {'Unique Items': [unique_items], 'Average Price': [average_price], 
     'Number of purchases':[number_of_purchases],'Total Revenue':[total_revenue]}
Purchasing_Analysis=pd.DataFrame(data=d)
Purchasing_Analysis

   Unique Items Average Price  Number of purchases Total Revenue
0           183         $3.05                  780      $2379.77

## Gender Demographics
- - -
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [78]:
DF_gender_grouped=purchase_data.groupby(["Gender"])
players_by_gender=DF_gender_grouped["SN"].nunique()
percent_by_gender=round(100*(DF_gender_grouped["SN"].nunique()/number_of_players),2)
d={"Players":players_by_gender,"Percentage of Players":percent_by_gender}
sumary_gender=pd.DataFrame(data=d)
sumary_gender=sumary_gender.sort_values(["Players"],ascending=False)
sumary_gender

                       Players  Percentage of Players
Gender
Male                       484                  84.03
Female                      81                  14.06
Other / Non-Disclosed       11                   1.91

In [88]:
purchase_count_by_gender=DF_gender_grouped["Purchase ID"].count()
average_price_by_gender=round(DF_gender_grouped["Price"].mean(),2)
purchases_by_gender=round(DF_gender_grouped["Price"].sum(),2)
purchase_by_person=round(purchases_by_gender/players_by_gender,2)
e={"Purchase Count":purchase_count_by_gender,"Average Purchase Price":average_price_by_gender,
   "Total Purchase Value":purchases_by_gender,"Avg. Purchase by Person":purchase_by_person}
stats_by_gender=pd.DataFrame(data=e)
stats_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Purchase by Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56